In [23]:
import pandas as pd 
import numpy as np

In [3]:
data = pd.read_csv('Salaries.csv') # true

In [4]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [6]:
data['BasePay'].mean() # true

66325.44884050643

In [7]:
data['OvertimePay'].max() # true

245131.88

In [13]:
data[data['EmployeeName'] == 'JOSEPH DRISCOLL'] # true

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [103]:
data[data['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'] # true

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [104]:
data[data['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'] # true

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [105]:
data[data['TotalPayBenefits']==data['TotalPayBenefits'].max()] # true

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [107]:
data[data['TotalPayBenefits']==data['TotalPayBenefits'].max()]['EmployeeName'] # true

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [114]:
data.loc[data['TotalPayBenefits'].idxmax()] # similar to numpy argmax

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [115]:
data.loc[data['TotalPayBenefits'].argmax()] # panda also support argmax

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """Entry point for launching an IPython kernel.

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [116]:
data[data['TotalPayBenefits']==data['TotalPayBenefits'].min()] # true

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [118]:
data.loc[data['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [37]:
data[data['Year']==2014]['BasePay'].mean()

66564.42192449933

In [58]:
data.groupby('Year').mean()['BasePay'] # true

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [119]:
data['JobTitle'].nunique()

2159

In [120]:
len(data['JobTitle'].unique())

2159

In [122]:
data['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [128]:
data[data['Year']==2013]['JobTitle'].value_counts()==1

Transit Operator                False
Special Nurse                   False
Registered Nurse                False
Public Svc Aide-Public Works    False
Custodian                       False
                                ...
Captain, (Fire Department)       True
Industrial Engineer              True
District Attorney                True
Senior Plan Checker              True
Communications Director          True
Name: JobTitle, Length: 1051, dtype: bool

In [129]:
sum(data[data['Year']==2013]['JobTitle'].value_counts()==1)

202

In [76]:
data[data['Year']==2013][['EmployeeName','JobTitle']].nunique() # salah, yang bener diatas

EmployeeName    36150
JobTitle         1051
dtype: int64

In [77]:
# yang diatas masih salah

In [130]:
data['JobTitle']

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                      Not provided
148651                                      Not provided
148652                                      Not provided
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [131]:
def chief_string(string):
    if 'chief' in string.lower().split():
        return True
    else:
        return False

In [134]:
Chief = data['JobTitle'].apply(chief_string)

In [136]:
sum(Chief)

477

In [138]:
sum(data['JobTitle'].apply(lambda x:chief_string(x)))

477

In [139]:
sum(data['JobTitle'].apply(chief_string))

477

In [85]:
type(nama)

pandas.core.series.Series

In [96]:
def countChief(st):
    for 
    count = 0;
    for word in st.lower().split():
        if word == 'chief':
            # count = count+1
            count += 1
    return count

In [99]:
countChief(data['JobTitle'][0])

0

In [140]:
data['TitleLen'] = data['JobTitle'].apply(len)

In [141]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,TitleLen
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,31
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,31
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,36
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,44

In [142]:
data[['JobTitle','TitleLen']].corr()

          TitleLen
TitleLen       1.0

In [143]:
data[['TotalPayBenefits','TitleLen']].corr()

                  TotalPayBenefits  TitleLen
TotalPayBenefits          1.000000 -0.036878
TitleLen                 -0.036878  1.000000