In [2]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('Ecommerce Purchases')
data.head(2) # true

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [86]:
data.info() # true

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [91]:
len(data.columns) # true

14

In [93]:
len(data.index) # true

10000

In [9]:
data['Purchase Price'].mean() # true

50.34730200000025

In [10]:
data['Purchase Price'].max() # true

99.99

In [11]:
data['Purchase Price'].min() # true

0.0

In [94]:
data[data['Language']=='en'].info() # almost true

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1098 entries, 11 to 9979
Data columns (total 14 columns):
Address             1098 non-null object
Lot                 1098 non-null object
AM or PM            1098 non-null object
Browser Info        1098 non-null object
Company             1098 non-null object
Credit Card         1098 non-null int64
CC Exp Date         1098 non-null object
CC Security Code    1098 non-null int64
CC Provider         1098 non-null object
Email               1098 non-null object
Job                 1098 non-null object
IP Address          1098 non-null object
Language            1098 non-null object
Purchase Price      1098 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 128.7+ KB

In [95]:
data[data['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [18]:
def JobTitle(str):
    if 'lawyer' in str.lower().split():
        return True
    else:
        return False

In [96]:
sum(data['Job'].apply(JobTitle)) # hampir bener

30

In [100]:
data[data['Job']=='Lawyer']['Job'].count()

30

In [29]:
total_costumer = len(data)

In [30]:
PM = sum(data['AM or PM']=='PM')
PM

5068

In [35]:
AM = sum(data['AM or PM']=='AM') # almost true
AM

4932

In [101]:
total_costumer-PM

4932

In [107]:
data['AM or PM'].unique()

array(['PM', 'AM'], dtype=object)

In [108]:
data['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [42]:
data['Job'].value_counts().head(5) # true

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

In [44]:
data[data['Lot']=='90 WT']['Purchase Price'] # purchase price; true

513    75.1
Name: Purchase Price, dtype: float64

In [46]:
data[data['Credit Card']==4926535242672853]['Email'] # true

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and made a purchase above $95 ?**

In [55]:
data[(data['CC Provider']=='American Express')&(data['Purchase Price']>95)].info() # true

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 9 to 9856
Data columns (total 14 columns):
Address             39 non-null object
Lot                 39 non-null object
AM or PM            39 non-null object
Browser Info        39 non-null object
Company             39 non-null object
Credit Card         39 non-null int64
CC Exp Date         39 non-null object
CC Security Code    39 non-null int64
CC Provider         39 non-null object
Email               39 non-null object
Job                 39 non-null object
IP Address          39 non-null object
Language            39 non-null object
Purchase Price      39 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 4.6+ KB

In [110]:
data[(data['CC Provider']=='American Express')&(data['Purchase Price']>95)].count() # true

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

** Hard: How many people have a credit card that expires in 2025? **

In [56]:
def exp(str):
    if '25' in str.split('/'):
        return True
    else:
        return False

In [58]:
sum(data['CC Exp Date'].apply(exp))

1033

In [116]:
sum(data['CC Exp Date'].apply(lambda str: str[3:]=='25'))

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [81]:
def popem(str):
    email = str.lower().split('@')
    return email[1]

In [82]:
popem('apis@gmail.com')

'gmail.com'

In [85]:
data['Email'].apply(popem).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [124]:
data['Email'].apply(lambda email: email.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64