# Map function

In [1]:
# let there be a function

In [2]:
def times2(num):
    return num*2

In [3]:
times2(5)

10

In [4]:
# map()

In [12]:
def function(num):
    return num**2

In [13]:
sequence = [0,2,4,6,8]

In [14]:
map(function,sequence)

In [15]:
list(map(function,sequence))

[0, 4, 16, 36, 64]

# Lambda Expression

In [16]:
# Before
def function(num):
    return num**2

In [17]:
# After
lambda num: num**2

In [18]:
f = lambda Num: Num*2

In [19]:
f(6)

12

In [23]:
# Instead of write the whole function & refer it to the map function, we can write lambda expression

In [24]:
# lambda expression are going to be use a lot, especially when we start learning about pandas library

In [25]:
list(map(lambda num: num**3, sequence))

[0, 8, 64, 216, 512]

# Filter Function

In [27]:
"""""
Filter has simmilar sturcture to map. But instead of mapping a function to every element of a sequence,
we will filter out some element from a sequence
"""""

'""\nFilter has simmilar sturcture to map. But instead of mapping a function to every element of a sequence,\nwe will filter out some element from a sequence\n'

In [28]:
filter(lambda Num: Num**2 <= 10,sequence)

In [29]:
list(filter(lambda Num: Num**2 <= 10,sequence))

[0, 2]

# Methods

In [33]:
# Are essentially just calls you can make often object that affect the object or return in some manner

In [34]:
s = 'Hello, my name is Apis'

In [35]:
# type : s. + tab ; you'll see all available methods on this string object

In [39]:
s.lower() # lower case every single letter in the string

'hello, my name is apis'

In [40]:
s.upper() # upper case every single letter in the string

'HELLO, MY NAME IS APIS'

In [42]:
s.split() # by default will split a string on all the whitespace ; going to be useful for text analysis

['Hello,', 'my', 'name', 'is', 'Apis']

In [43]:
tweet = "You'll Never Walk Alone! #Liverpool #Football #Sports"

In [45]:
tweet.split('#')

["You'll Never Walk Alone! ", 'Liverpool ', 'Football ', 'Sports']

In [47]:
tweet.split('#')[1]

'Liverpool '

In [48]:
d = {'d1':1,'d2':2}

In [49]:
d.keys()

dict_keys(['d1', 'd2'])

In [51]:
d.values()

dict_values([1, 2])

In [52]:
d.items()

dict_items([('d1', 1), ('d2', 2)])

In [58]:
lst = [1,2,3,19]

In [59]:
item = lst.pop() # to pop the last item off the list

In [60]:
lst

[1, 2, 3]

In [61]:
lst.append(4)

In [62]:
lst

[1, 2, 3, 4]

In [63]:
item

19

In [64]:
first = lst.pop(0)

In [65]:
lst

[2, 3, 4]

In [66]:
first

1

# In Operator

In [67]:
'x' in [1,2,3]

False

In [68]:
'x' in ['x','y','z']

True

# Tuple unpacking

In [69]:
x = [(1,2),(3,4),(5,6)]

In [70]:
x[0]

(1, 2)

In [71]:
x[0][1]

2

In [72]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [73]:
for a,b in x:
    print(a)

1
3
5

In [74]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6