In [4]:
1 # integer

1

In [3]:
1.0 # float

1.0

In [7]:
1.20* 3.0

3.5999999999999996

In [8]:
1/2

0.5

In [11]:
3**4 # bukan ^ kayak di matlab yaa

81

In [15]:
2+3*5+5

50

In [16]:
(2+3)*(5+5)

50

In [18]:
13%4 # modulus

1

In [19]:
7%2 # can be use to check if a value is even or odd

1

In [33]:
value = 10
Value = 2

In [34]:
value

10

In [23]:
Value

2

In [24]:
value/Value

5.0

In [35]:
value = Value+value;

In [36]:
value

12

In [37]:
var2 = 4

In [38]:
var2

4

In [39]:
# Strings

In [40]:
'String'

'String'

In [41]:
"also a string"

'also a string'

In [42]:
"you aren not can't use single quote inside of double quote"

"you aren not can't use single quote inside of double quote"

In [48]:
x = 'hello'
name = 'apis'
age = 22

In [44]:
x

'hello'

In [45]:
print(x)

hello

In [46]:
print(x+' '+var2)

TypeError: can only concatenate str (not "int") to str

In [49]:
diprint = 'my name is {} and i am {} years old'.format(name,age)

In [50]:
print(diprint)

my name is apis and i am 22 years old

In [55]:
tes = 'my age is {one} and my name is {two}. And i can assure you that my name is {two}'.format(one=age,two=name)

In [56]:
print(tes)

my age is 22 and my name is apis. And i can assure you that my name is apis

In [61]:
tes2 = "{i}'s neighbour is Ais and his age is {j}".format(i=name,j=age)

In [62]:
print(tes2)

apis's neighbour is Ais and his age is 22

In [63]:
Name = 'Ais'

In [68]:
Name[0]

'A'

In [72]:
Name[2]

's'

In [73]:
alphabet = 'abcdefghij'

In [74]:
alphabet[0:]

'abcdefghij'

In [75]:
alphabet[:4]

'abcd'

In [78]:
alphabet[2:4]

'cd'

In [79]:
mylist = ['a','b','c']

In [80]:
mylist.append('d') # nambahin nilai baru dalam sequencenya

In [81]:
mylist

['a', 'b', 'c', 'd']

In [83]:
mylist[2]

'c'

In [84]:
mylist[0:2]

['a', 'b']

In [85]:
mylist[0] = 3

In [86]:
mylist

[3, 'b', 'c', 'd']

In [87]:
mylist.append('HAI')

In [88]:
mylist

[3, 'b', 'c', 'd', 'HAI']

In [101]:
my_list=[1,2,['a',3,'nested']]

In [102]:
my_list

[1, 2, ['a', 3, 'nested']]

In [103]:
my_list[2]

['a', 3, 'nested']

In [104]:
my_list[2][2]

'nested'

In [109]:
nest = [1,2,[3,4,5,['target']]]

In [110]:
nest[2][2]

5

In [111]:
nest[2][3][0]

'target'

In [112]:
print(nest[2][3][0])

target