# Missing Data

In [1]:
import numpy as np
import pandas as pd

In [79]:
d = {'A':[1,2,np.nan],'B':[4,np.nan,np.nan],'C':[7,8,9]}
d

{'A': [1, 2, nan], 'B': [4, nan, nan], 'C': [7, 8, 9]}

In [80]:
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  4.0  7
1  2.0  NaN  8
2  NaN  NaN  9

In [6]:
df.dropna() # it'll drop any rows with at least 1 missing value

     A    B  C
0  1.0  4.0  7

In [7]:
df.dropna(0)

     A    B  C
0  1.0  4.0  7

In [8]:
df.dropna(1) # (axis,how(any or all),thresh(how many non-NaN values needed),..,inplace)

   C
0  7
1  8
2  9

In [10]:
df.dropna(thresh=2) # row 1 has 2 non-NaN value

     A    B  C
0  1.0  4.0  7
1  2.0  NaN  8

# Fill the missing value

In [71]:
df

     A    B  C
0  1.0  4.0  7
1  2.0  NaN  8
2  NaN  NaN  9

In [11]:
df.fillna(value='Fill Value')

            A           B  C
0           1           4  7
1           2  Fill Value  8
2  Fill Value  Fill Value  9

In [81]:
df['A'].fillna(df['A'].sum(),inplace=True)

In [73]:
df

     A    B  C
0  1.0  4.0  7
1  2.0  NaN  8
2  3.0  NaN  9

In [61]:
df.iloc[1].fillna(df.loc[1].mean())

C:\Users\Lenovo\Anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [82]:
df.iloc[1] = df.iloc[1].fillna(df.loc[1].mean())
df

     A    B    C
0  1.0  4.0  7.0
1  2.0  5.0  8.0
2  3.0  NaN  9.0

In [84]:
df.loc[2,'B'] = df.iloc[2].mean()
df

     A    B    C
0  1.0  4.0  7.0
1  2.0  5.0  8.0
2  3.0  6.0  9.0

In [86]:
d = {'A':[1,2,np.nan],'B':[4,np.nan,np.nan],'C':[7,8,9]}
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  4.0  7
1  2.0  NaN  8
2  NaN  NaN  9

In [88]:
df['A'].fillna(df['A'].sum(),inplace=True)
df

     A    B  C
0  1.0  4.0  7
1  2.0  NaN  8
2  3.0  NaN  9

In [91]:
df[1,'B'].fillna(df['A'].sum(),inplace=True) # masih gapaham gimana caranya masukkin data ke 1 sel NaN doang

KeyError: (1, 'B')