In [16]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [9]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]

# Multi Index and Index Hierarchy

In [13]:
hier_index = list(zip(outside,inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [15]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [18]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1  1.569348 -0.298020
   2  0.427576  0.372046
   3  1.274327 -0.364828
G2 1  1.004188  0.709549
   2  0.039623  1.636144
   3 -0.590588  0.082875

In [20]:
# locating data frame with hierarchy: grab from the outside index
df.loc['G1']

          A         B
1  1.569348 -0.298020
2  0.427576  0.372046
3  1.274327 -0.364828

In [22]:
df.loc['G1'].loc[3]

A    1.274327
B   -0.364828
Name: 3, dtype: float64

In [23]:
df.index.names

FrozenList([None, None])

In [26]:
df.index.names = ['Outside Group','Inside Num']
df
# these data frame can have as many layers as you want

                                 A         B
Outside Group Inside Num
G1            1           1.569348 -0.298020
              2           0.427576  0.372046
              3           1.274327 -0.364828
G2            1           1.004188  0.709549
              2           0.039623  1.636144
              3          -0.590588  0.082875

In [27]:
df.loc['G1'].loc[2]['B']

0.3720456793647716

In [28]:
df.loc['G2'].loc[3]['A']

-0.5905884743733589

# Cross Section

In [29]:
df

                                 A         B
Outside Group Inside Num
G1            1           1.569348 -0.298020
              2           0.427576  0.372046
              3           1.274327 -0.364828
G2            1           1.004188  0.709549
              2           0.039623  1.636144
              3          -0.590588  0.082875

In [30]:
df.xs('G1')

                   A         B
Inside Num
1           1.569348 -0.298020
2           0.427576  0.372046
3           1.274327 -0.364828

In [41]:
df.xs(1,0,'Inside Num')

                      A         B
Outside Group
G1             1.569348 -0.298020
G2             1.004188  0.709549

In [43]:
df.xs(1,level='Inside Num')

                      A         B
Outside Group
G1             1.569348 -0.298020
G2             1.004188  0.709549