# Series in Pandas

A series is very similar to numpy array, in fact it's actually built on top of a pirate object.

What differentiate the numpy array from pandas series is that a series can have axies labels, it means it can be indexed by a label

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
labels = ['a','b','c'] # list
my_data = [10,20,30]   # list
arr = np.array(my_data) # array
d = {'a':10,'b':20,'c':30} # dictionary

In [7]:
pd.Series(my_data) # letter sensitive, S nya besar

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data = my_data) # you can specify what you want that index to be

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data = my_data,index = labels)

a    10
b    20
c    30
dtype: int64

In [11]:
# since data and index are actually in order, you dont have to say 'data =' nor 'index ='
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr) # essentially numpy array is going to work the same thing as pyhton list

0    10
1    20
2    30
dtype: int32

In [14]:
pd.Series(d) # key in dictionary will become an index and the value of that key into corresponding data point

a    10
b    20
c    30
dtype: int64

In [15]:
# another thing that differentiate numpy array from pandas series is that pandas series can hold a variety of object types

In [16]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [17]:
pd.Series([sum,print,len]) # it also can holding references to built in functions as data points

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [19]:
ser1 = pd.Series([1,2,3,4],['Jakarta','Jawa Barat','Jawa Tengah','Jawa Timur'])
ser1

Jakarta        1
Jawa Barat     2
Jawa Tengah    3
Jawa Timur     4
dtype: int64

In [21]:
ser2 = pd.Series([1,2,5,4],['Jakarta','Jawa Barat','Banten','Jawa Timur'])
ser2

Jakarta       1
Jawa Barat    2
Banten        5
Jawa Timur    4
dtype: int64

In [23]:
# If you want to grab the information, you can type the index inside its paranthesis
ser1['Jakarta']

1

In [25]:
serCoba = pd.Series(['Sumatra','Jawa','Bali','Kalimantan','Sulawesi','Papua'])
serCoba

0       Sumatra
1          Jawa
2          Bali
3    Kalimantan
4      Sulawesi
5         Papua
dtype: object

In [26]:
serCoba[3]

'Kalimantan'

In [29]:
ser1 + ser2 # it will sum up the data which has the same index, notice that the integer are converted into a float

Banten         NaN
Jakarta        2.0
Jawa Barat     4.0
Jawa Tengah    NaN
Jawa Timur     8.0
dtype: float64